.about__container{
  display: flex;
  justify-content: space-between;
  min-height: 800px;
}
.about__left{
  margin-top: 130px;
  width: 45%;
  margin-right: 100px;
}

.about__right{
  margin-top: 130px;
  width: 55%;
  color: #fff;
}
