.about__prolog{
  margin-bottom: 10px;
  opacity: 0.5;
}
.about__title{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  opacity: 1;

}
.about__text{
  margin-bottom: 100px;
  width: 60%;
  opacity: 0.5;
}
.about__ps{
  width: 60%;
  opacity: 0.5;
  font-style: italic;
}