.background__autmn{
  background-image: url(../images/content/background/road.jpg);
  background-repeat: no-repeat;
  //background-size: cover;
  
} 
.background__autmn__picture{
position: relative;
}

.background__autmn__img{
  //position: absolute;
  right: 0;

}