.skills{
  background-image: url(../images/content/background/black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.skills__container{
  min-height: 1000px;
  display: flex;
  justify-content: space-between;
}
.skills__picture{
width: 20%;
}
.skills__block{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}