.first{
  height: 100vh;
}

.first__container{
  display:flex;
  height:100%;
  flex-direction:column;
  
}

.first__content{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content:center;
  color: #fff;
}
.user-info{
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
}
.user-info__desc{
  font-size: 18px;
  opacity: 0.4;
  width: 170px;
  margin-right: 50px;
  
}
h1{
  font-size: 72px;
  font-weight: bolder;
  width: 440px;
  line-height: 0.8;
}
