.first__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}
.first__menu{
  margin-right: 0 20px;
}
.first__logo{
  font-size: 36px;
  font-weight: bolder;
  color: #fff;
}