.icon-link{
  display: flex;
  margin-top: 40px;
}


.icon-link__text{
  color: #586ed3;
  font-size: 18px;
  font-weight: bold;
  margin-left: 15px;
  
}
.icon-link__svg{
  fill: #586ed3;
  width: 20px;
  height: 20px;
}