.first__btns{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.scroll-down{
  color: #fff;
  margin-right: 10px;
}
.scroll-down-btn{
  width: 28px;
  height: 31px;
  display: block;
  fill: #fff;
}