.user-skills{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 80px;
}
.user-skills__item{
  display: flex;
  flex-direction: column;
}
.skills-row__list{
  display: flex;
}