.user{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user__desc{
  display: flex;
  flex-direction: column;
  color: #fff;
}
.user__desc-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

}
.user__value{
  padding-left: 50px;
  
}
.user__key{
  opacity: 0.2;
}