.container__works{
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  
}
.section-title--works{
  padding-top: 150px;
  color: #000;
  
}
.works__content{
  display: flex;
  margin-top: 90px;
}
.works__left{
  width: 75%;
}
.works__right{
  display: flex;
  flex-direction: column;
  width: 25%;
}